.wd-tweetButton{
    width:100%;
}

.fa-cog{
    color: #2357e7;
}

.wd-bold{
    font-weight: bold;
}

.wd-normal{
    font-weight: normal;
}
img {
    max-width: 100%;
    height: auto;
}

.wd-bottomLeft{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.fa-stack{
    font-size: 0.5em;
}

.search input {
    text-indent: 30px;
    border-radius: 50px;

}

.wd-bottom-left1{
    position: absolute;
    bottom:8px;
    left:16px;
    color:white;
    font-size:50px;
    font-weight: bold;
}